@media (max-width: 1860px) {
    .intro__big-image {
      right: -100px;
    }
}

@media (max-width: 1700px) {
    .intro__big-image {
      right: -240px;
    }

    .intro__play-content {
      left: 47%;
    }
}

@media (max-width: 1439px) {
    .intro__big-image {
      right: -320px;
    }

    .intro__play-content{
      left: 44%;
    } 
} 

@media (max-width: 1220px) {
    .intro__big-image {
      right: -480px;
    }

    .intro__play-content {
      left: 36%;
    }
} 
