@import "normalize";
@import "variables";
@import "slick";

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}



.overflowHidden {
  overflow: hidden;
} 

body {
  font-family: 'HelveticaNeueCyr', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 23px;
	padding-bottom: 23px;
}

.header__logo {
	display: block;
	width: 130px;
	height: auto;
}

.header__logo img {
	display: block;
	max-width: 100%;
	height: auto;
}

.header__main-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 920px;
	width: 100%;
}

.header__address {
	display: flex;
	align-items: flex-start;
}

.header__work-time {
	display: flex;
	align-items: flex-start;
}

.header__list-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	border: 1px solid #7facd2;
	background-color: #f8fcff;
	border-radius: 50%;
	margin-right: 14px;
	margin-top: 2px;
}

.header__list-text strong {
	font-size: 18px;
	line-height: 24px;
	color: #1e112b;
	font-weight: 700;
}

.header__list-text p {
	font-size: 18px;
	line-height: 24px;
	color: #1e112b;
	font-weight: 300;
}

.header__tel-content {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.header__tel {
	font-size: 30px;
	font-weight: 400;
	color: #1e112b;
}

.header__calling .header__list-img {
	margin-right: 5px;
}

.header__calling {
	text-align: right;
}

.header__call {
	display: inline-block;
	font-size: 18px;
	line-height: 16px;
	color: #dd2821;
	transition: ease 0.3s;
	border-bottom: 2px solid #ee9390;

	&:hover {
		color: #014e90;
		border-bottom: 2px solid #014e90;
		transition: ease 0.3s;
	}
}

.header__menu {
	background-color: #014e90;
}

.header__menu ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header__menu a {
	position: relative;
	display: block;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	transition: ease 0.3s;
	padding-top: 27px;
	padding-bottom: 24px;
	padding-left: 12px;
	padding-right: 12px;

	&:hover {
		background-color: #0066be;
		transition: ease 0.3s;
	}

	&:hover span {
		border-bottom: 2px solid #80b3df;
		transition: ease 0.3s;
	}
}

.header__menu a span {
	display: block;
	line-height: 14px;
	border-bottom: 2px solid transparent;
	transition: ease 0.3s;
}

.intro {
	position: relative;
	min-height: 550px;
}

.intro .container {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	width: 100%;
	height: 100%;
	left: 50%;
	transform: translate(-50%, 0);
}

.intro__slide-img {
	width: 100%;
	height: 550px;
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}

.intro__content {
	position: relative;
	z-index: 3;
	background-color: rgba(255,255,255,0.8);
	max-width: 322px;
	width: 100%;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 47px;
	margin-left: auto;
	margin-right: 75px;
	padding-bottom: 64px;
}

.intro__content-title {
	display: block;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	color: #292929;
	padding-bottom: 20px;
}

.intro__content-title span {
	font-weight: 700;
}

.intro__field {
	max-width: 243px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.intro__field input {
	width: 100%;
	border: 1px solid #dddddd;
	height: 50px;
	padding-left: 35px;
	padding-right: 35px;
	font-size: 14px;
	color: #000;

	&::placeholder {
		opacity: 1;
		color: #545454;
	}
}

.intro__btn {
	display: block;
	max-width: 243px;
	width: 100%;
	margin: 0 auto;
	background-color: #dd2821;
	box-shadow: 0px 1px 2px 0px rgba(151, 6, 0, 0.9);
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 48px;
	padding-top: 2px;
	transition: ease 0.3s;

	&:hover {
		background-color: #014e90;
		transition: ease 0.3s;
		box-shadow: 0px 1px 2px 0px rgba(1, 78, 144, 0.9);
	}
}

.intro__btns-wrap {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: space-between;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 2;
}

.intro__slider-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	background-color: #014e90;
	transition: ease 0.3s;

	&:hover {
		opacity: 0.7;
		transition: ease 0.3s;
	}
}

.intro__slider-btn--prev {
	margin-left: -60px;
}

.intro__slider-btn--next {
	margin-right: -60px;
}

.main-title {
	position: relative;
	font-size: 30px;
	color: #242424;
	text-transform: uppercase;
	padding-bottom: 6px;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 1px;
		width: 90px;
		height: 3px;
		background-color: rgb(36, 36, 36);
	}
}

.main-title--white {
	color: #fff;

	&::before {
		background-color: #fff;
	}
}

.about-index {
	position: relative;
	margin-bottom: 80px;
}

.about-index .container {
	display: flex;
	justify-content: space-between;
}

.about-index__content {
	width: 50%;
	padding-top: 68px;
}

.about-index__content p {
	font-size: 16px;
	line-height: 24px;
	color: #181818;
	padding-top: 22px;
	max-width: 520px;
	width: 100%;
}

.about-index__info {
	width: 50%;
	padding-top: 68px;

	&::before {
		content: "";
		position: absolute;
		background-image: url('../img/about-info-bg.jpg');
		width: 50%;
		height: 100%;
		right: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.about-index__list {
	position: relative;
	z-index: 2;
	padding-top: 22px;
}

.about-index__list li {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	padding-bottom: 18px;

	&:last-child {
		padding-bottom: 0;
	}
}

.about-index__info-content {
	padding-left: 55px;
}

.questions {
	background-color: #f8f8f8;
}

.questions .container {
	padding-top: 72px;
	padding-bottom: 74px;
}

.questions .main-title {
	margin-bottom: 30px;
}

.questions__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.questions__content-col {
	max-width: 540px;
	width: 100%;
}

.questions__item {
	padding-bottom: 27px;

	&:last-child {
		padding-bottom: 0;
	}
}

.questions__item-title {
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #dd2821;
	font-weight: 500;
	padding-bottom: 5px;
}

.questions__item li {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	color: #181818;
	padding-left: 11px;
	padding-bottom: 5px;

	&::before {
		content: "-";
		position: absolute;
		left: 0;
		top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.questions__item li.questions__item-bold {
	font-weight: 500;

	&::before {
		display: none;
	}
}

.questions__item-panel {
	display: flex;
	padding-top: 21px;
}

.questions__item-link {
	display: block;
	font-size: 12px;
	max-width: 185px;
	width: 100%;
	color: #c91a13;
	background-color: #f8f8f8;
	line-height: 34px;
	margin-right: 10px;
	padding-top: 2px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #dd2821;
	transition: ease 0.3s;

	&:hover {
		background-color: #dd2821;
		color: #fff;
		transition: ease 0.3s;
	}

	&:first-child {
		max-width: 140px;
		width: 100%;
	}

	&:last-child {
		margin-right: 0;
	}
}

.news .container {
	padding-top: 76px;
	padding-bottom: 80px;
}

.news .main-title {
	margin-bottom: 72px;
}

.news__list {
	display: flex;
}

.news__item {
	max-width: 255px;
	width: 100%;
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
}

.news__item:hover .news__item-img::before {
	opacity: 1;
	transition: ease 0.3s;
}

.news__item:hover .news__item-img img {
	transform: scale(1.04) rotate(1deg);
	transition: ease 0.3s;
}

.news__item:hover .news__item-btn::before {
	background-color: #014e90;
	transition: ease 0.3s;
}


.news__item-img {
	position: relative;
	max-width: 255px;
	min-width: 255px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		background-color: rgba(0,0,0,0.2);
		transition: ease 0.3s;
		z-index: 1;
	}
}

.news__item-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	transition: ease 0.3s;
}

.news__item-title {
	font-size: 16px;
	color: #181818;
	font-weight: 500;
	padding-bottom: 5px;
}

.news__item p {
	font-size: 14px;
	line-height: 18px;
	color: #181818;
	font-weight: 300;
	padding-bottom: 15px;
}

.news__item-info {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #e6e6e6;
	padding-top: 10px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/news-line.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 1px;
		height: 20px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

.news__item-btn {
	position: relative;
	width: 50%;
	font-size: 12px;
	color: #181818;
	font-weight: 700;
	padding-left: 15px;

	&::before {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #e2463f;
		left: 92px;
		top: -1px;
		transition: ease 0.3s;
	}

	&::after {
		content: "";
		position: absolute;
		background-image: url("../img/news-arr.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 4px;
		height: 6px;
		top: 4px;
		left: 98px;
	}
}

.news__item-date {
	position: relative;
	display: block;
	width: 50%;
	text-align: center;
	font-size: 12px;
	color: #181818;
	font-weight: 300;
	padding-left: 8px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/calendar-news.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 10px;
		height: 11px;
		left: 22px;
		top: 2px;
	}
}

.footer {
	background-color: #00203c;
}

.footer .container {
	padding-top: 50px;
	padding-bottom: 30px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__logo {
	display: block;
	max-width: 121px;
	width: 100%;
}

.footer__logo img {
	display: block;
	max-width: 100%;
	height: auto;
}

.footer__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	max-width: 690px;
	width: 100%;
	padding-top: 20px;
}

.footer__item {
	display: flex;
	align-items: center;
	max-width: 290px;
	width: 100%;
	padding-bottom: 35px;

	&:nth-child(even) {
		max-width: 210px;
		width: 100%;
	}
}

.footer__item-img {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f9ff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 15px;
}

.footer__item-title {
	display: block;
	font-size: 16px;
	color: #ffffff;
	padding-bottom: 2px;
}

.footer__item-text p {
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}

.footer__item-tel {
	display: block;
	font-size: 16px;
	color: #ffffff;
	font-weight: 300;
}

.footer__email {
	display: block;
	font-size: 16px;
	color: #ffffff;
	font-weight: 300;
}

.footer__copyright {
	display: block;
	font-size: 14px;
	color: #ffffff;
	font-weight: 300;
	margin-top: -15px;
}

.breadcrumbs {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.breadcrumbs .container {
	padding-top: 77px;
	padding-bottom: 90px;
}

.breadcrumbs__inner {
	display: flex;
	justify-content: center;
	max-width: 310px;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 27px;
	background-color: #f7f9fb;
}

.breadcrumbs__item {
	font-size: 18px;
	line-height: 16px;
	font-weight: 500;
	color: #221819;
	transition: ease .35s;

	&:hover {
    	opacity: 0.9;
    } 

    &:active {
    	opacity: 0.7;
    }
}

.breadcrumbs__home-link {
	margin-right: 7px;
	color: #221819;
	font-weight: 300;
}

.gallery .container {
	padding-top: 53px;
	padding-bottom: 80px;
}

.gallery .main-title {
	text-align: center;
	margin-bottom: 50px;
}

.gallery .main-title::before {
	left: 50%;
	transform: translate(-50%, 0);
}

.gallery__list {
	display: flex;
	flex-wrap: wrap;
}

.gallery__item {
	width: calc(33.333% - 20px);
	margin-right: 30px;
	margin-bottom: 26px;
	
	&:nth-child(3n) {
		margin-right: 0;
	}

}

.gallery__item:hover .gallery__img-wrap::before {
	height: 100%;
	transition: ease 0.3s;
}

.gallery__item:hover .gallery__img-wrap::after {
	opacity: 1;
	transition: ease 0.3s;
}


.gallery__item-img {
	padding: 15px;
	width: 100%;
	border: 1px solid #e9e9e9;
	overflow: hidden;
	margin-bottom: 10px;
}

.gallery__img-wrap {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 0;
		background-color: rgba(221, 40, 33, 0.6);
		transition: ease 0.3s;
	}

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-image: url("../img/gallery-lupa.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 34px;
		height: 36px;
		opacity: 0;
		transition: ease 0.3s;
	}

}

.gallery__item-img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.gallery__item span {
	display: block;
	font-size: 16px;
	color: #1a1a1a;
	text-align: center;
}

.gallery__btn {
	display: block;
	max-width: 225px;
	width: 100%;
	font-size: 16px;
	color: #dd2922;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	line-height: 51px;
	padding-top: 2px;
	border: 1px solid #de2923;
	border-radius: 5px;
	margin-top: 30px;
	transition: ease 0.3s;

	&:hover {
		background-color: #de2923;
		color: #fff;
		transition: ease 0.3s;
	}
}

.extra .container {
	padding-top: 53px;
}

.extra .main-title {
	text-align: center;
	margin-bottom: 45px;

	&::before {
		left: 50%;
		transform: translate(-50%, 0);
	}
}

.text-content__blue-title {
	font-size: 22px;
	color: #014e90;
	font-weight: 500;
	padding-bottom: 17px;
}

.text-content {
	padding-bottom: 50px;
}

.text-content p {
	font-size: 18px;
	color: #221819;
	font-weight: 300;
	padding-bottom: 25px;
}

.text-content__list-title {
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	color: #221819;
	padding-top: 20px;
	font-weight: 500;
	padding-bottom: 23px;
}

.text-content ol {
	padding-left: 20px;
	margin: 0;
}

.text-content li {
	font-size: 18px;
	color: #221819;
	padding-bottom: 23px;
}