@import "normalize";
@import "variables";
@import "slick";

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}



.overflowHidden {
  overflow: hidden;
} 

body {
  font-family: 'HelveticaNeueCyr', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 23px;
	padding-bottom: 23px;
}

.header__logo {
	display: block;
	width: 130px;
	height: auto;
}

.header__logo img {
	display: block;
	max-width: 100%;
	height: auto;
}

.header__main-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 920px;
	width: 100%;
}

.header__address {
	display: flex;
	align-items: flex-start;
}

.header__work-time {
	display: flex;
	align-items: flex-start;
}

.header__list-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	border: 1px solid #7facd2;
	background-color: #f8fcff;
	border-radius: 50%;
	margin-right: 14px;
	margin-top: 2px;
}

.header__list-text strong {
	font-size: 18px;
	line-height: 24px;
	color: #1e112b;
	font-weight: 700;
}

.header__list-text p {
	font-size: 18px;
	line-height: 24px;
	color: #1e112b;
	font-weight: 300;
}

.header__tel-content {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.header__tel {
	font-size: 30px;
	font-weight: 400;
	color: #1e112b;
}

.header__calling .header__list-img {
	margin-right: 5px;
}

.header__calling {
	text-align: right;
}

.header__call {
	display: inline-block;
	font-size: 18px;
	line-height: 16px;
	color: #dd2821;
	transition: ease 0.3s;
	border-bottom: 2px solid #ee9390;

	&:hover {
		color: #014e90;
		border-bottom: 2px solid #014e90;
		transition: ease 0.3s;
	}
}

.header__menu {
	background-color: #014e90;
}

.header__menu ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.header__menu a {
	position: relative;
	display: block;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	transition: ease 0.3s;
	padding-top: 27px;
	padding-bottom: 24px;
	padding-left: 12px;
	padding-right: 12px;

	&:hover {
		background-color: #0066be;
		transition: ease 0.3s;
	}

	&:hover span {
		border-bottom: 2px solid #80b3df;
		transition: ease 0.3s;
	}
}

.header__menu a span {
	display: block;
	line-height: 14px;
	border-bottom: 2px solid transparent;
	transition: ease 0.3s;
}


.breadcrumbs {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.breadcrumbs .container {
	padding-top: 77px;
	padding-bottom: 90px;
}

.breadcrumbs__inner {
	display: flex;
	justify-content: center;
	max-width: 310px;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 27px;
	background-color: #f7f9fb;
}

.breadcrumbs__item {
	font-size: 18px;
	line-height: 16px;
	font-weight: 500;
	color: #221819;
	transition: ease .35s;

	&:hover {
    	opacity: 0.9;
    } 

    &:active {
    	opacity: 0.7;
    }
}

.breadcrumbs__home-link {
	margin-right: 7px;
	color: #221819;
	font-weight: 300;
}


.main-title {
	position: relative;
	text-align: center;
	font-size: 30px;
	color: #242424;
	text-transform: uppercase;
	padding-bottom: 6px;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 510px;
		width: 90px;
		height: 3px;
		background-color: rgb(36, 36, 36);
	}
}

.contacts {
	padding-top: 60px;
	padding-bottom: 80px;
}

.contacts .main-title {
	margin-bottom: 80px;
}

.contacts__informathion {
	display: flex;
	justify-content: space-between;
}

.contacts__data-wrapper {
	display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
}

.contacts__text {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	color: #242424;
}

.contacts__text span {
	display: block;
	font-weight: 500;
}

.contacts__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border: 1px solid #7facd2;
    border-radius: 50%;
}

.contacts__text a {
	display: block;
	font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #242424;
    transition: ease .35s;


    &:hover {
    	opacity: 0.9;
    } 

    &:active {
    	opacity: 0.7;
    }
}
.contacts__feedback-wrapper {
	display: flex;
	justify-content: center;
	max-width: 345px;
	width: 100%;
	margin-right: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
}

.contacts__feedback {
	display: flex;
	justify-content: center;
	max-width: 330px;
	width: 100%;
	padding-top: 37px;
	padding-bottom: 39px;
	border: 2px solid red;
}
.contacts__inner {
	display: block;
	text-align: center;
	max-width: 250px;
	width: 100%;
}

.contacts__form-title {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #1b1b1b;
}

.contacts__inner span {
	display: block;
	text-align: start;
	margin-bottom: 7px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #1b1b1b;
}

.contacts__input {
	display: flex;
	width: 100%;
	height: 42px;
	margin-bottom: 20px;
	padding: 0 10px 0;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #1b1b1b;
	border: 1px solid #d1d1d1;
	transition: ease .35s;
}

.contacts__input-last {
	margin-bottom: 30px;
}

.contacts__btn {
	max-width: 196px;
	width: 100%;
	margin: 0 auto;
	padding: 11px 57px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
	background-color: #dd2821;
	box-shadow: 0px 1px 2px 0px rgba(151, 6, 0, 0.9);
	transition: ease .35s;

	&:hover {
		opacity: 0.9;
	} 

	&:active {
		opacity: 0.7;
	}
}

#map {
	width: 100%;
	height: 435px;
}

.footer {
	background-color: #00203c;
}

.footer .container {
	padding-top: 50px;
	padding-bottom: 30px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__logo {
	display: block;
	max-width: 121px;
	width: 100%;
}

.footer__logo img {
	display: block;
	max-width: 100%;
	height: auto;
}

.footer__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 690px;
	width: 100%;
	padding-top: 20px;
}

.footer__item {
	display: flex;
	align-items: center;
	max-width: 290px;
	width: 100%;
	padding-bottom: 35px;

	&:nth-child(even) {
		max-width: 210px;
		width: 100%;
	}
}

.footer__item-img {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f9ff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 15px;
}

.footer__item-title {
	display: block;
	font-size: 16px;
	color: #ffffff;
	padding-bottom: 2px;
}

.footer__item-text p {
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}

.footer__item-tel {
	display: block;
	font-size: 16px;
	color: #ffffff;
	font-weight: 300;
}

.footer__email {
	display: block;
	font-size: 16px;
	color: #ffffff;
	font-weight: 300;
}

.footer__copyright {
	display: block;
	font-size: 14px;
	color: #ffffff;
	font-weight: 300;
	margin-top: -15px;
}


.about-us {
	padding-top: 60px;
	padding-bottom: 80px;
}
.about-us__content {
	margin-bottom: 40px;
}

.about-us .main-title {
	margin-bottom: 50px;
}

.about-us__content img {
	float: right;
	max-width: 540px;
    height: auto;
    margin: 0 auto;
    margin-left: 40px;
    margin-bottom: 18px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.about-us__text {
	margin-bottom: 24px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #181818;
}

.about-us__achievement {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-us__card {
	width: 23%;
	padding: 30px 35px;
	text-align: center;
	border: 1px solid #dd2821;
}

.reviews {
	padding-top: 60px;
	padding-bottom: 80px;
}

.reviews .main-title {
	margin-bottom: 50px;
}

.reviews__review {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.reviews__card {
	width: 32%;
	margin-bottom: 40px;
}

.reviews__card-header {
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}

.reviews__img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
	border: 1px solid #d3d3d3;
	border-radius: 50%;
	margin-right: 27px;
}

.reviews__person {
	display: block;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 16px;
	font-weight: 500;
	color: #014e90;
}

.reviews__date {
	display: block;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	color: #221819;
}

.reviews__text {
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	color: #221819;
}

.reviews__bonus-text {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #014e90;
}

.reviews__mail {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #014e90;
	transition: ease .35s;

	&:hover {
		opacity: 0.9;
	} 

	&:active {
		opacity: 0.7;
	}
}